<div class="project-card-container" *ngIf="!isMobileView">
  <a class="image" *ngIf="project.isImageLeft" href="{{ project.link }}" target="_blank">
    <video [src]="project.video" controls loop onmouseover="this.play()" onmouseout="this.pause(); this.currentTime = 0;" [muted]="true"></video>
  </a>
  <div class="text-container">
    <h2>{{ project.title }}</h2>
    <h3>{{ project.technologies }}</h3>
    <p>{{ project.description[selectedLanguage] }}</p>
    <div class="buttons-container">
      <a href="{{ project.link }}">
        <button class="button-live-test" mat-raised-button>Live test</button>
      </a>
      <a href="{{ project.github }}" target="_blank">
        <button class="button-github" mat-raised-button>Github</button>
      </a>
    </div>
  </div>
  <a class="image" *ngIf="!project.isImageLeft" href="{{ project.link }}" target="_blank">
    <video [src]="project.video" controls loop onmouseover="this.play()" onmouseout="this.pause(); this.currentTime = 0;" [muted]="true"></video>
  </a>
</div>

<div class="project-card-container" *ngIf="isMobileView">
  <a class="image" href="{{ project.link }}" target="_blank">
    <video [src]="project.video" controls loop onmouseover="this.play()" onmouseout="this.pause(); this.currentTime = 0;" [muted]="true"></video>
  </a>
  <div class="text-container">
    <h2>{{ project.title }}</h2>
    <h3>{{ project.technologies }}</h3>
    <p>{{ project.description[selectedLanguage] }}</p>
    <div class="buttons-container">
      <a href="{{ project.link }}" target="_blank">
        <button class="button-live-test" mat-raised-button>Live test</button>
      </a>
      <a href="{{ project.github }}" target="_blank">
        <button class="button-github" mat-raised-button>Github</button>
      </a>
    </div>
  </div>
</div>
