<div class="project-card-container">
    <div class="image" *ngIf="project.isImageLeft">
      <img [src]="project.imagePath" alt="{{ project.title }}">
    </div>
    <div class="text-container">
      <h2>{{ project.title }}</h2>
      <h3>{{ project.technologies }}</h3>
      <p>{{ project.description }}</p>
      <div class="buttons-container">
        <button class="button-live-test" mat-raised-button>Live test</button>
        <button class="button-github" mat-raised-button>Github</button>
      </div>
    </div>
    <div class="image" *ngIf="!project.isImageLeft">
      <img [src]="project.imagePath" alt="{{ project.title }}">
    </div>
  </div>
  
