<div class="max-width">
  <div class="footer-container">
    <div class="logo-impressum">
      <img src="./../../assets/images/martin-logo-transparent.svg" alt="" />
      <p>Impressum</p>
    </div>
    <div class="copyright">
      <span>&copy; Martin Inglin 2024</span>
    </div>
    <div class="media-links">
      <img src="./../../assets/images/media-icons/github.svg" alt="" />
      <img src="./../../assets/images/media-icons/mail.svg" alt="" />
      <img src="./../../assets/images/media-icons/linkedin.svg" alt="" />
    </div>
  </div>
</div>
