<div class="max-width">
  <div class="about-me-container">
    <div class="text-images-container">
      <div class="text-container">
        <h1>About me</h1>
        <p class="main-text">
          Gestatten: Martin Inglin, Software Entwickler und motiviert bis in die
          Fingerspitzen, Ihr Projekt umzusetzen. Mein Motto: Der Horizont ist
          unsere Kreativität.
        </p>
        <div class="bulb-puzzle">
          <img src="./../../assets/images/bulb.svg" alt="" />
          <p>
            Sie haben eine Idee für eine App, die die Welt verändert? Sie
            möchten Ihre Webseite auf Vordermann bringen und ihre Kunden
            begeistern? Gerne helfe ich Ihnen dabei, Ihre Vorstellungen
            umzusetzen.
          </p>
        </div>
        <div class="bulb-puzzle">
          <img src="./../../assets/images/puzzle.svg" alt="" />
          <p>
            Sie sind bereits auf dem Weg und brauchen Unterstützung in Ihrem
            Team? Melden Sie sich, damit wir gemeinsam herausfinden, wie ich
            Ihnen behilflich sein kann.
          </p>
        </div>
      </div>
      <div class="images-container">
        <img class="portrait-stains" src="./../../assets/images/color-stains/about-me.svg" alt="" />
        <div class="portrait-container">
          <img class="portrait" src="./../../assets/images/light_2_small.png" alt="" />
        </div>

      </div>
    </div>
    <img class="curve" src="./../../assets/images/curve.svg" alt="" />
  </div>
</div>
