<div class="max-width">
  <div class="about-me-container">
    <div class="text-images-container">
      <div class="text-container">
        <h1>{{ "ABOUT_ME_TITLE" | translate }}</h1>
        <p class="main-text">
          {{ "ABOUT_ME_FIRST_SPAN" | translate }}
        </p>
        <div class="bulb-puzzle">
          <img src="assets/images/bulb.svg" alt="" />
          <p>
            {{ "ABOUT_ME_SECOND_SPAN" | translate }}
          </p>
        </div>
        <div class="bulb-puzzle">
          <img src="assets/images/puzzle.svg" alt="" />
          <p>
            {{ "ABOUT_ME_THIRD_SPAN" | translate }}
          </p>
        </div>
      </div>
      <div class="images-container">
        <img
          class="portrait-stains"
          src="assets/images/color-stains/about-me.svg"
          alt=""
        />
        <div class="portrait-container">
          <img class="portrait" src="assets/images/light_2_small.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
