<div class="max-width">
  <div class="above-the-fold-container">
    <div class="color-stains">
      <img
        src="./../../assets/images/color-stains/above-the-fold-blue.svg"
        alt=""
      />
      <img
        src="./../../assets/images/color-stains/above-the-fold-green.svg"
        alt=""
      />
    </div>

    <div class="title">
      <div class="title-text">
        <span class="i-am">I am</span>
        <div class="name-qualification">
          <span class="name">Martin Inglin</span>
          <span class="qualification">FULL STACK DEVELOPER</span>
        </div>
      </div>

      <button mat-raised-button>Let's talk!</button>
    </div>

    <div class="media-links">
      <div class="line"></div>
      <img src="./../../assets/images/media-icons/github.svg" alt="" />
      <img src="./../../assets/images/media-icons/mail.svg" alt="" />
      <img src="./../../assets/images/media-icons/linkedin.svg" alt="" />
    </div>
    <div class="scroll-down">
      <span>Scroll down</span>
      <img src="./../../assets/images/arrow-down-line.svg" alt="" />
    </div>
  </div>
</div>
