<div class="max-width">
  <div class="footer-container">
    <div class="logo-impressum">
      <a href="above-the-fold">
        <img src="assets/images/martin-logo-transparent.svg" alt="" />
      </a>
      <a href="impressum">
        <p> {{ "FOOTER_IMPRINT" | translate }}</p>
      </a>
    </div>
    <div class="copyright">
      <span>&copy; Martin Inglin 2024</span>
    </div>
    <div class="media-links">
      <a href="https://github.com/MartinInglin/" target="_blank">
        <img src="assets/images/media-icons/github.svg" alt="" />
      </a>
      <a href="#contact">
        <img src="assets/images/media-icons/mail.svg" alt="" />
      </a>
      <a href="https://www.linkedin.com/in/martin-inglin-2a2306301/" target="_blank">
        <img src="assets/images/media-icons/linkedin.svg" alt="" />
      </a>
    </div>
  </div>
</div>
