<div class="max-width">
  <div class="contact-container">
    <div class="color-stains">
      <img src="assets/images/color-stains/contact.svg" alt="" />
    </div>
    <div class="contact-title">
      <div class="title-line">
        <div class="spacer"></div>
        <h1>{{ "CONTACT_TITLE" | translate }}</h1>
        <div class="line spacer"></div>
      </div>
      <div class="context-text-container">
        <div class="contact-text">
          <div class="text-title-line">
            <div class="text-line"></div>
            <h4>{{ "CONTACT_SUBTITLE" | translate }}</h4>
          </div>
          <p>
            {{ "CONTACT_TEXT_PART_ONE" | translate }} <br /><br />
            {{ "CONTACT_TEXT_PART_TWO" | translate }}
            <b>{{ "CONTACT_TEXT_PART_THREE" | translate }}</b>
          </p>
        </div>

        <form
          class="contact-form"
          (ngSubmit)="onSubmit(contactForm)"
          #contactForm="ngForm"
          autocomplete="off"
        >
          <div class="input-name">
            <input
              [(ngModel)]="contactData.name"
              #name="ngModel"
              type="text"
              name="name"
              id="name"
              placeholder="Name"
              required
            />
            @if (!name.valid && contactForm.submitted) {
            <span class="missing-form">{{
              "CONTACT_MISSING_NAME" | translate
            }}</span>
            }
          </div>

          <div class="input-email">
            <input
              [(ngModel)]="contactData.email"
              #email="ngModel"
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              required
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            />
            @if (!email.valid && contactForm.submitted) {
            <span class="missing-form">{{
              "CONTACT_MISSING_EMAIL" | translate
            }}</span>
            }
          </div>

          <div class="input-textarea">
            <textarea
              [(ngModel)]="contactData.message"
              #message="ngModel"
              name="message"
              id="message"
              cols="30"
              rows="10"
              placeholder="{{'CONTACT_MESSAGE' | translate}}"
              required
            ></textarea>
            @if (!message.valid && contactForm.submitted) {
            <span class="missing-form">{{
              "CONTACT_MISSING_MESSAGE" | translate
            }}</span>
            }
          </div>

          <div class="privacy-policy">
            <div class="row">
              <label class="checkbox-container">
                <input type="checkbox" (click)="checkPrivacyPolicy()" />
                <span class="checkmark"></span>
              </label>
              <p>
                {{ "CONTACT_PRIVACY_POLICY_PART_ONE" | translate }}
                <a href="privacy-policy">
                  {{ "CONTACT_PRIVACY_POLICY_PART_TWO" | translate }}</a
                >
                {{ "CONTACT_PRIVACY_POLICY_PART_THREE" | translate }}
              </p>
            </div>
            
            @if (!privacyPolicy && contactForm.submitted) {
            <span class="missing-form">{{
              "CONTACT_MISSING_CONFIRMATION_PRIVACY_POLICY" | translate
            }}</span>
            }
          </div>

          <div class="button" [ngClass]="{ 'enable-button': formComplete }">
            <button mat-raised-button type="submit" value="Submit">
              {{ "CONTACT_SUBMIT" | translate }}
            </button>
          </div>
          
        </form>
      </div>
    </div>
    <div class="arrow-up-container">
      <a href="#above-the-fold">
        <div class="position-left">
          <img
            class="arrow-up-hover"
            src="assets/images/arrow-up-hover.svg"
            alt=""
          />
          <img class="arrow-up" src="assets/images/arrow-up.svg" alt="" />
        </div>
      </a>
    </div>
  </div>
</div>

