<div class="max-width">
  <div class="contact-container">
    <div class="color-stains">
      <img src="assets/images/color-stains/contact.svg" alt="" />
    </div>
    <div class="contact-title">
      <div class="title-line">
        <div class="spacer"></div>
        <h1>Contact</h1>
        <div class="line spacer"></div>
      </div>
      <div class="row">
        <div class="contact-text">
          <div class="text-title-line">
            <div class="text-line"></div>
            <h4>Wie kann ich Ihnen helfen?</h4>
          </div>
          <p>
            Kontaktieren Sie mich über dieses Formular. Ich freue mich darauf,
            von Ihnen zu hören und bin gespannt, welche Projekte Sie umsetzen
            möchten. <br /><br />
            Sie brauchen einen Entwickler? <b>Kontaktieren Sie mich.</b>
          </p>
        </div>

        <form
          class="contact-form"
          (ngSubmit)="onSubmit(contactForm)"
          #contactForm="ngForm"
        >
          <div class="input-name">
            <input
              [(ngModel)]="contactData.name"
              #name="ngModel"
              type="text"
              name="name"
              id="name"
              placeholder="Name"
              required
            />
            @if (!name.valid && contactForm.submitted) {
            <span class="missing-form">Please enter your name.</span>
            }
          </div>

          <div class="input-email">
            <input
              [(ngModel)]="contactData.email"
              #email="ngModel"
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              required
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            />
            @if (!email.valid && contactForm.submitted) {
            <span class="missing-form">Please enter your mail address.</span>
            }
          </div>

          <div class="input-textarea">
            <textarea
              [(ngModel)]="contactData.message"
              #message="ngModel"
              name="message"
              id="message"
              cols="30"
              rows="10"
              placeholder="Nachricht"
              required
            ></textarea>
            @if (!message.valid && contactForm.submitted) {
            <span class="missing-form">Please enter a message.</span>
            }
          </div>

          <div class="privacy-policy">
            <label class="checkbox-container">
              <input type="checkbox" (click)="checkPrivacyPolicy()" />
              <span class="checkmark"></span>
            </label>
            <p>
              Ich habe die <a href="">privacy policy</a> gelesen und stimme der
              Verwendung meiner Daten wie beschrieben zu.
            </p>
            @if (!privacyPolicy && contactForm.submitted) {
            <span class="missing-form">Please check the privacy policy.</span>
            }
          </div>

          <div class="button" type="submit" value="Submit">
            <button mat-raised-button>Nachricht abschicken</button>
          </div>
        </form>
      </div>
    </div>
    <div class="arrow-up-container">
      <a href="#above-the-fold">
        <div class="position-left">
          <img
            class="arrow-up-hover"
            src="assets/images/arrow-up-hover.svg"
            alt=""
          />
          <img class="arrow-up" src="assets/images/arrow-up.svg" alt="" />
        </div>
      </a>
    </div>
  </div>
</div>
