<div class="max-width">
  <div class="my-skills-container">
    <img class="curve" src="assets/images/curve.svg" alt="" />
    <div class="icons z-index-2">
      <div *ngFor="let skill of skills" class="skills">
        <div class="skill">
          <img [src]="skill.icon" alt="{{ skill.name }}" />
          <span>{{ skill.name }}</span>
        </div>
      </div>
    </div>
    <div class="my-skills-text z-index-2">
      <div class="title-line">
        <h1>Skills</h1>
        <div class="line"></div>
      </div>
      <p>
        Folgende Tools und Programmiersprachen helfen mir, grandiose Projekte
        umzusetzen.
      </p>
      <div class="button">
        <a href="#contact">
          <button mat-raised-button>Get in touch</button>
        </a>
      </div>
    </div>
  </div>
</div>
