@import "./../../styles.scss";

.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  padding: 37px 100px;
  box-sizing: border-box;
  img {
    height: 64px;
  }
}

.nav-bar-links {
  display: flex;
  gap: 29px;
  a {
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-size: 23px;
    transition: 125ms ease-in-out;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: $light-blue;
      transition: 125ms ease-in-out;
    }
  }
}
