<div class="max-width position-absolute">
  <div class="nav-bar-container">
    <img src="assets/images/martin-logo-transparent.svg" alt="" />
    <div class="nav-bar-links">
      <a href="#about-me">About Me</a>
      <a href="#skills">Skills</a>
      <a href="#portfolio">Portfolio</a>      
      <mat-button-toggle-group>
        <mat-button-toggle value="english" checked>EN</mat-button-toggle>
        <mat-button-toggle value="german">DE</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>
